body{
    width: 1280px;
    margin: 0 auto;
}
.container{
    margin-top: 40px ;
    margin-bottom: 40px; 
}
.banner-content{
    font-weight: bold;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    margin: 0;
    padding: 0;
}
.heading-two{
    font-size: 40px;
    font-weight: 700;
}
.btn-primary{
    background-color: blue;
    border-radius: 5px;
color: white;
padding: 15px 35px;
font-size: 20px;
border: none;
margin-bottom: 100px;
margin-top: 10px;
}
.png{
    margin-top: 100px;
}
    

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: aquamarine;
    border-radius: 10px;
    gap: 64px;
}
.banner-title{
    font-weight: bold;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.first-image{
background-color: aquamarine;
    background-repeat: no-repeat;
    background-position: top left bottom right;
}
.profile-pic{
    width: 500px;
}